{
  "extends": "eslint:recommended",
  "env": {
    "node": true
  },
  "globals": {
    "describe": true,
    "it": true,
    "before": true
  },
  "rules": {
    "indent": [2,2],
    "quotes": [2,"single","avoid-escape"]
  }
}
